---
inlineCss: assets/css/style.css
---

{% extends 'default.njk' %}

{% block contents -%}
                <p>
                    Contents here. <a href="#/" target="_blank" class="link">Test link</a>.
                </p>
{%- endblock %}