/*-----------------------------------------------------------------------------
    General
-----------------------------------------------------------------------------*/

body {
    margin: 0;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.link {
    color: $red;
}